@import './../../../styles/variables';

section#trainings-map {
  .sebm-google-map-container {
    height: 80%;
    font-weight: normal;
    a {
      font-weight: normal;
    }
    .title {
      margin-bottom: 5px;
      font-size: 16px;
    }
    .company {
      margin-bottom: 10px;
    }


  }
}
