@import 'variables';

.strong {
  font-weight: normal;
}

.page-wrapper {
}

.desc-text {
  white-space: pre-wrap;
}

.head {
  margin-bottom: 30px;
}

.btn, .btn.active {
  font-size: 17px;
  box-shadow: none;
  border-radius: 0;
}

.btn-padding {
  padding: 6px 12px;
}

.btn-default {
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  padding: 10px 14px;
  background-color: $blue;
  color: white;

  &:hover, &:focus, &:active, &:active:hover, &:active:focus {
    background-color: lighten($blue, 10%);
    color: white;
  }
}

.button-muted {
  background-color: $light-grey;
  color: black;

  &:hover, &:focus, &:active {
    color: black;
    background-color: $orange;
  }
}

.button-muted.active {
  background-color: $orange;
}

.ng-invalid {
  border-color: red;
}

.spacer {
  padding: 30px 0 50px;
}

.gray-bg-spacer {
  padding: 30px 0 50px;
  background-color: $lighter-grey;
}

.gray-bg {
  background-color: $lighter-grey;
}

.white-bg-spacer {
  padding: 30px 0 50px;
  background-color: #fff;
}

.white-bg {
  background-color: #fff;
}

.blue-bg-spacer {
  padding: 30px 0 50px;
  background-color: #23527c;
  color: white;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $orange;
  }
}

.blue-bg {
  background-color: #23527c;
  color: white;
}

.yellow-bg-spacer {
  padding: 30px 0 50px;
  background-color: $orange;
}

.yellow-bg {
  background-color: $orange;
}

.orange-bg-spacer {
  padding: 30px 0 50px;
  background-color: $orange;
}

.orange-bg {
  background-color: $orange;
}

.border-style {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.subfooter {
  padding: 30px 0;
  background-color: $lighter-grey;
}

.no-list {
  list-style-type: none;
  padding-left: 0;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.green-text {
  color: #1fa67a;
}

typeahead-container {
  ul {
    right: 15px;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: black;
    text-decoration: none;
    background-color: $orange;
    outline: 0;
  }
}
