@import 'variables';

.strong {
  font-weight: normal;
}

.page-wrapper {
}

.desc-text {
  white-space: pre-wrap;
}

.head {
  margin-bottom: 30px;
}

.ng-invalid {
  border-color: red;
}

.spacer {
  padding: 30px 0 50px;
}

.gray-bg-spacer {
  padding: 30px 0 50px;
  background-color: $lighter-grey;
}

.gray-bg {
  background-color: $lighter-grey;
}

.white-bg-spacer {
  padding: 30px 0 50px;
  background-color: #fff;
}

.white-bg {
  background-color: #fff;
}

.blue-bg-spacer {
  padding: 30px 0 50px;
  background-color: #23527c;
  color: white;

  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $orange;
  }
}

.blue-bg {
  background-color: #23527c;
  color: white;
}

.yellow-bg-spacer {
  padding: 30px 0 50px;
  background-color: $orange;
}

.yellow-bg {
  background-color: $orange;
}

.orange-bg-spacer {
  padding: 30px 0 50px;
  background-color: $orange;
}

.orange-bg {
  background-color: $orange;
}

.border-style {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.subfooter {
  padding: 30px 0;
  background-color: $lighter-grey;
}

.no-list {
  list-style-type: none;
  padding-left: 0;
}

.float-right {
  float: right;
}

.inline {
  display: inline;
}

.green-text {
  color: #1fa67a;
}

typeahead-container.dropdown {
  position: initial;

  ul {
    right: 15px;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: black;
    text-decoration: none;
    background-color: $orange;
    outline: 0;
  }

}

pagination-controls {
  pagination-template {
    ul.ng2-pagination {
      padding-left: 0;
      display: flex;

      li {
        margin-right: 5px;
        margin-left: 5px;
        background: $grey !important;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          &:hover, &:focus {
            background: $orange !important;
          }
        }

        span {
          color: black;
          display: inline-block;
          padding: 2px 6px;
          margin-bottom: 0;
          font-size: 15px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
        }
      }

      li.current {
        background-color: $orange !important;
      }
    }
  }
}
