@import 'variables';

@font-face {
  font-family: "Open Sans";
  //src: url('../fonts/Regular/OpenSans-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  //src: url('../fonts/Bold/OpenSans-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  //src: url('../fonts/Light/OpenSans-Light.woff2');
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: $bg-grey;
}

h1 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px
}

h5 {

}

h6 {

}

p, span, li, .form-control {
  font-size: 15px;
  font-weight: lighter;
}

