@fa-font-path : "./../assets/fonts";

$blue: #003366;
$light-blue: #23527c;
$yellow: #FFA700;
$orange: #f29100;
$light-orange: lighten(#f29100, 30%);
$dark-orange: darken(#f29100, 0%);

$grey: #ddd;
$grey-10: rgba(0, 0, 0, .1);
$light-grey: #e1e1e1;
$lighter-grey: #f1f1f1;
$bg-grey: #f1f1f1;
$dark-grey: #ababab;
$black: #252734;
