<section id="list" class="gray-bg-spacer">

  <div class="container">
    <div class="row head">
      <div class="col-md-12">
        <h1>TypeScript Entwickler</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
              <a type="button" class="btn button-muted" [routerLink]="['/directory']"
                 routerLinkActive="active">Liste</a>
              <a type="button" class="btn button-muted" [routerLink]="['/map']"
                 routerLinkActive="active">Karte</a>
            </div>
          </div>
          <div class="col-md-3">
            <label class="btn-padding">
              <input type="checkbox" (change)="prepareData($event.target.checked)">
              Für Projekte verfügbar
            </label>
          </div>
          <div class="col-md-5">
            <form id="search-form" #searchListForm="ngForm" novalidate>
              <div class="searchForm input-group">
              <span class="input-group-btn">
                <input class="search-input form-control"
                       name="search"
                       placeholder="Nach Ort suchen"
                       autocomplete="off"
                       type="search"
                       [(ngModel)]="search"
                       [typeahead]="typeAheadData"
                       [typeaheadMinLength]="2">
                <select class="form-control" name="distance" [(ngModel)]="distance">
                    <option value="5000">+ 5km</option>
                    <option value="10000">+ 10km</option>
                    <option value="25000">+ 25km</option>
                    <option value="50000">+ 50km</option>
                    <option value="100000">+ 100km</option>
                 </select>
                 <button class="btn btn-default search-submit form-control"
                         (click)="doSearch(search, distance)"
                         [disabled]="!typeAheadDataLoaded">Suchen</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form id="tec-form" #filterTecForm="ngForm" novalidate>
              <div class="checkbox" *ngFor="let tec of technologiesArray">
                <label>
                  <input type="checkbox" name="{{tec}}" [(ngModel)]="filterByTec[technologies[tec]]">
                  {{tec}}
                </label>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="noResults" class="jumbotron search-info">
      <span>Keine Entwickler gefunden</span>
      <a class="float-right" (click)="inValidateSearch()">Alle Entwickler anzeigen</a>
    </div>

    <div *ngIf="isSearchDone && !noResults" class="jumbotron search-info">
      <span>Suche nur nach "{{searchTerm}}"</span>
      <a class="float-right" (click)="inValidateSearch()">Alle Entwickler anzeigen</a>
    </div>

    <div class="flex-row content">
      <div class=" col-lg-4 col-md-6 col-sm-6" *ngFor="let user of paginatedUsers | filterTec: filterByTec">
        <div class="card border-style white-bg">
          <a (click)="onClick(user.login)">
            <div class="card-content">
              <div class="row">
                <div class="col-md-4 col-xs-4 img">
                  <img class="img-responsive" src="{{ user.avatar_url }}"/>
                </div>
                <div class="col-md-8 col-xs-8 text">
                  <h4>{{user.name}}</h4>
                  <p>{{user.city}}</p>
                  <ul class="tec no-list">
                    <li class="inline" [ngClass]="tec.key" *ngFor="let tec of user.tec | tec">{{tec.value}}</li>
                  </ul>
                  <p *ngIf="isSearchDone">{{user.dis | distance}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="...">
          <button *ngFor="let page of pages; let i = index" [class.active]="(i === pageIndex)"
                  class="btn button-muted"
                  (click)="loadPage(i)">
            {{i + 1}}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<pre>{{distance | json }}</pre>-->
<!--<pre>{{technologiesArray | json }}</pre>-->
