@import './../../../styles/variables';

section#user-add {
  img.avatar {
    max-width: 100px;
  }


  .btn-delete {
    padding: 6px 12px;
    float: right;
  }

  .info {
    font-size: 12px;
  }
}
