<div class="page-wrapper">

  <navigation></navigation>
  <header></header>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <ul class="no-list">
            <li class="strong">TypeScript User Group Deutschland e.V.</li>
            <li>Martinstraße 42-44</li>
            <li>73728 Esslingen a. N.</li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-6">
          <ul class="float-right no-list contact-items">
            <li><i class="fa fa-github" aria-hidden="true"></i><a
              href="https://github.com/TypeScriptUsersDE/homepage" target="_blank">GitHub</a></li>
            <!--<li><i class="fa fa-comments-o" aria-hidden="true"></i><a-->
            <!--href="https://gitter.im/TypeScriptUserGroupDE/TypeScriptUsersGroupDE">Gitter</a>-->
            <!--</li>-->
            <li><img class="fa-img" src="assets/gitter_white.png">
              <a href="https://gitter.im/TypeScriptUsersDE" target="_blank">Gitter</a>
            </li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i>
              <a href="https://twitter.com/typescriptusers" target="_blank">Twitter: @TypeScriptUsers</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 legal">
          <ul class="no-list">
            <li><a [routerLink]="['/impressum']">Impressum</a></li>
            <li>/</li>
            <li><a [routerLink]="['/impressum']">Datenschutzerklärung</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

