<section id="single" class="gray-bg-spacer">
    <div class="container">
        <div class="row">
            <div class="overview col-md-3">
                <a class="back" [routerLink]="['/list']"><p>Zurück zum Entwicklerverzeichnis</p></a>
                <ul class="list-group">
                    <li class="list-group-item">
                        <img class="user-img img-responsive img-circle center-block" src="{{ user.avatar_url }}"/>
                        <button class="btn btn-default center-block user-mail"
                                (click)="sendMessage(user.login)">{{
                            sendMessageText }}
                        </button>
                    </li>
                    <li class="list-group-item name">{{user.name}}</li>
                    <li class="list-group-item city">{{user.city}}</li>
                    <li class="list-group-item" *ngIf="user.html_url">GitHub: <a href="{{user.html_url}}">{{user.html_url}}</a>
                    </li>
                    <li class="list-group-item" *ngIf="user.website">Webseite: <a href="{{user.website}}">{{user.website}}</a>
                    </li>
                    <li class="list-group-item" *ngIf="user.twitter">Twitter: <a href="{{user.twitter}}">{{user.twitter}}</a></li>
                </ul>
            </div>

            <div class="info col-md-9">
                <h2 class="name">Über {{user.name}}</h2>
                <div class="avail">
                    <span class="border-style white-bg avail-info">{{user.name}} steht für Projekte zur Verfügung</span>
                    <span class="border-style white-bg avail-info">Auch in größerer Entfernung vom Wohnort</span>
                </div>
                <div class="desc">
                    <p class="desc-text border-style" innerHTML="{{user.description | linky}}"></p>
                </div>
                <h2>Verwendet TypeScript mit</h2>

                <div class="tec row">
                    <div class="col-md-4"><p class="border-style white-bg">AngularJS</p></div>
                    <div class="col-md-4"><p class="border-style white-bg">Angular2</p></div>
                    <div class="col-md-4"><p class="border-style white-bg">Ionic</p></div>
                    <div class="col-md-4"><p class="border-style white-bg">Node.js</p></div>
                    <div class="col-md-4"><p class="border-style white-bg">NativeScript</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<pre>{{user | json }}</pre>-->