@import './../../../styles/variables';

section#trainings-list {
  @media (min-width: 1023px) {
    .searchForm {
      width: 100%;
      //margin-top: 30px;

      .col-md-8 {
        padding-right: 10px;
      }
      .col-md-4 {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .searchForm {
      margin-top: 30px;

      .col-md-8 {
      }
      .col-md-4 {
        .search-submit {
          margin-top: 10px;
        }
      }
    }
  }

  #tec-form {
    margin-bottom: 0;
    .radio {
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      padding-bottom: 2px;
      padding-top: 2px;

      input[type="radio"] {
        //top: -5px;
      }
    }
  }

  #search-form {
    width: 100%;
    input {
      width: 60%;
    }
    .input-group-btn {
      width: inherit;
      button {
        width: 20%;
      }

      select {
        font-size: 14px;
        padding: 4px 6px;
        width: 20%;
      }
    }
  }

  .search-input {
    display: inline;
    float: left;
    border: 1px solid #ccc;
    padding: 6px 12px;
  }

  .search-submit {
    padding: 6px 12px;
    float: right;
  }

  .search-info {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    background-color: $light-orange;
    padding: 10px 20px;
    //max-width: 400px;

    a {
      &:hover, &:focus {
        color: $blue;
      }
    }
  }

  a > .card {
    color: $text-color;
    font-weight: normal;

    .title {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    .desc {
      white-space: pre-wrap;
    }
  }
}
