<section id="trainings-list" class="gray-bg-spacer">

  <div class="container">
    <div class="row head">
      <div class="col-md-6">
        <h1 class="text-orange underline">Schulungen</h1>
      </div>
      <div class="col-md-6">
        <button *ngIf="isLoggedIn()" class="btn btn-default float-right" [routerLink]="['/schulung/neu']">
          <!--<i class="fa fa-user" aria-hidden="true"></i>-->
          {{createTrainingMessage}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a type="button" class="btn button-muted" [routerLink]="['/schulungen']"
           routerLinkActive="active">Liste</a>
        <a type="button" class="btn button-muted" [routerLink]="['/schulungen/karte']"
           routerLinkActive="active">Karte</a>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-5">
        <form id="search-form" #searchListForm="ngForm" novalidate>
          <div class="searchForm input-group">
              <span class="input-group-btn">
                <input class="search-input form-control"
                       name="search"
                       placeholder="Nach Ort suchen"
                       autocomplete="off"
                       type="search"
                       [(ngModel)]="search"
                       [typeahead]="typeAheadData"
                       [typeaheadMinLength]="2">
                <select class="form-control" name="distance" [(ngModel)]="distance">
                    <option value="5000">+ 5km</option>
                    <option value="10000">+ 10km</option>
                    <option value="25000">+ 25km</option>
                    <option value="50000">+ 50km</option>
                    <option value="100000">+ 100km</option>
                 </select>
                 <button class="btn button-muted search-submit form-control"
                         (click)="doSearch(search, distance)"
                         [disabled]="!typeAheadDataLoaded">Suchen</button>
                </span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>

    <div class="row">
      <div class="sidebar col-md-3">
        <form id="tec-form" #filterTecForm="ngForm" novalidate>
          <div class="radio">
            <label>
              <input type="radio" name="filter" value="" [(ngModel)]="filterByTec" (change)="resetPagination()">
              Alle Themen
            </label>
          </div>
          <div class="radio" *ngFor="let tec of technologiesArray">
            <label>
              <input type="radio" name="filter" value="{{technologies[tec]}}" [(ngModel)]="filterByTec"
                     (change)="resetPagination()">
              {{tec}}
            </label>
          </div>
        </form>
      </div>
      <div class="info col-md-9">
        <div *ngIf="noResults" class="jumbotron search-info">
          <span>Keine Schulungen gefunden</span>
          <a *ngIf="filterByTec" class="float-right" (click)="inValidateSearch()">Alle Schulungen anzeigen</a>
        </div>

        <div *ngIf="isSearchDone && !noResults" class="jumbotron search-info">
          <span>Suche nur nach "{{searchTerm}}"</span>
          <a class="float-right" (click)="inValidateSearch()">Alle Schulungen anzeigen</a>
        </div>

        <div
          *ngFor="let training of trainings | filterTrainingsByTec: filterByTec | paginate: { itemsPerPage: 5, currentPage: p }">

          <a [routerLink]="['/schulung', training.title_link]">
            <div class="card border-style white-bg">
              <div class="row">
                <div class="col-md-9">
                  <h2 class="title">{{training.title}}</h2>
                </div>
                <div class="col-md-3 text-right">
                  <p class="tec"><strong>{{technologiesRevMap[training.tec]}}</strong></p>
                </div>
              </div>
              <p class="provider">von {{training.company}}</p>
              <p class="desc">{{training.desc | slice:0:200}} ...</p>
              <span class="locations-number">{{training.events.length}} Schulungsorte</span>
            </div>
          </a>
        </div>

        <pagination-controls directionLinks="false" (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>
  </div>
</section>
<!--<pre>{{filterByTec | json }}</pre>-->
