@import './../../../styles/variables';

section#trainings-single {
  .overview {
    .back {
      > p {
        margin-left: 5px;
        margin-top: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .info {
    .title {
    }

    .desc {
      background-color: white;
    }
  }
}
