@import './../../styles/variables';

.navbar {
  margin-bottom: 0;

  .container {

    .navbar-brand {
      color: white;
      padding: 5px 15px;
      margin-left: 0;

      &:hover, &:focus {
        color: $orange;
      }

      .logo {
        max-height: 40px;
      }
    }
  }
}

.navbar-default {
  background-color: $blue;
  color: white;
  padding: 10px 0;

  .navbar-collapse {
    border: inherit;
    box-shadow: inherit;
  }

  .navbar-toggle {
    background-color: #ddd;

    .icon-bar {
      background-color: $orange;
    }
  }

  .navbar-toggle.collapsed {
    background-color: #ddd;

    .icon-bar {
      background-color: $blue;
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: white;
        font-weight: normal;

        &:hover, &:focus {
          color: $orange;
        }
      }
    }

    > .active {

      > a {
        background-color: inherit;
        color: $orange;
        font-weight: normal;

        &:hover, &:focus {
          background-color: inherit;
          color: $orange;
        }
      }

    }
  }

}
