@import './../../../styles/variables';

// .card styles are in styles/card.scss

section#list {
  .list-control-row {
    padding-left: 13px;
    padding-right: 13px;

    .list-control {
      padding-left: 0;
      padding-right: 0;
    }

    .list-control.nav {
      z-index: 3;
    }

    .list-control.color {
      border-left: 1px solid $lighter-grey;
      border-right: 1px solid $lighter-grey;
      background-color: $light-grey;
      padding-bottom: 1px;
      height: 35px;
    }

    .btn-padding {
      padding: 6px 8px;
    }

    .btn-padding > label {
      font-weight: normal;
      margin-bottom: 0;
      margin-left: 2px;
      margin-right: 2px;
      > input {
        margin-top: 0;
      }
    }

    .search {
      float: right;

      #search-form {
        width: 100%;
        .searchForm {
          width: 100%;

          .form-control {
            font-size: 14px;
            border-radius: 0;
            padding: 2px 4px;
            margin-top: 4px;
            margin-bottom: 4px;
          }
          input {
            width: 55%;
            margin-left: 4px;
            height: inherit;
          }
          select {
            width: 20%;
            margin-left: 4px;
            height: inherit;
          }
          button {
            padding: 4px 4px;
            width: 21%;
            margin-right: 4px;
            height: 26px;
          }
        }
      }
    }

    form {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1199px) {
    #search-form {
      .searchForm {
        margin-top: 0;
      }
    }

    .list-control-row {
      .list-control.color {
        background-color: inherit;
        border-left: none;
        border-right: none;
      }
    }
  }

  @media (min-width: 1023px) {
    .searchForm {
      width: 100%;
      margin-bottom: 0;

      .col-md-8 {
        padding-right: 10px;
      }
      .col-md-4 {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .search {
      float: left;
    }
    .searchForm {
      margin-top: 30px;

      .col-md-8 {
      }
      .col-md-4 {
        .search-submit {
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .search {
      float: left;
      padding: 15px;
      margin-bottom: 15px;

      #search-form {
        .searchForm {
          margin: 0;
        }
      }
    }
  }

  #tec-form {
    margin-bottom: 0;
    .checkbox {
      display: inline;
      margin-left: 2px;
      margin-right: 2px;

      input[type="checkbox"] {
        //top: -5px;
      }
    }
  }

  #search-form {
    width: 100%;

    input {
      padding: 6px 12px;
      width: 60%;
    }
    .input-group-btn {
      width: inherit;
      button {
        width: 20%;
        padding: 4px 12px;
      }

      select {
        font-size: 15px;
        padding: 6px 6px;
        width: 20%;
      }
    }
  }

  .search-input {
    display: inline;
    float: left;
    border: 1px solid #ccc;
    padding: 6px 12px;
  }

  .search-submit {
    padding: 6px 12px;
    float: right;
  }

  .search-info {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    background-color: $light-orange;
    padding: 10px 20px;
    //max-width: 400px;

    a {
      &:hover, &:focus {
        color: $blue;
      }
    }
  }

  .btn-padding.available {
    font-weight: normal;
  }

}
