@import './../../../styles/variables';

section#list {
  @media (min-width: 1023px) {
    .searchForm {
      width: 100%;
      //margin-top: 30px;

      .col-md-8 {
        padding-right: 10px;
      }
      .col-md-4 {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .searchForm {
      margin-top: 30px;

      .col-md-8 {
      }
      .col-md-4 {
        .search-submit {
          margin-top: 10px;
        }
      }
    }
  }

  #tec-form {
    margin-bottom: 0;
    .checkbox {
      display: inline;
      margin-left: 2px;
      margin-right: 2px;

      input[type="checkbox"] {
        //top: -5px;
      }
    }
  }

  #search-form {
    width: 100%;

    input {
      padding: 6px 12px;
      width: 60%;
    }
    .input-group-btn {
      width: inherit;
      button {
        width: 20%;
        padding: 4px 12px;
      }

      select {
        font-size: 15px;
        padding: 6px 6px;
        width: 20%;
      }
    }
  }

  .search-input {
    display: inline;
    float: left;
    border: 1px solid #ccc;
    padding: 6px 12px;
  }

  .search-submit {
    padding: 6px 12px;
    float: right;
  }

  .search-info {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    background-color: $light-orange;
    padding: 10px 20px;
    //max-width: 400px;

    a {
      &:hover, &:focus {
        color: $blue;
      }
    }
  }

  .btn-padding.available {
    font-weight: normal;
  }
}
