@import './../../../styles/variables';

section#message {

  .overview {
    .back {
      > p {
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .list-group {

      @media (max-width: 767px) {
        .avatar {
          width: 100px;
        }
      }

      @media (max-width: 768px) {
        .avatar {
          width: 200px;
        }
      }


      .avatar {
        width: 200px;
        margin-bottom: 10px;
      }

      margin-top: 15px;
      > li {

        a {
        }
      }
    }

    .name {
      font-weight: bold;
      margin-top: 0;
    }

    .city {
    }
  }

  .info {

    .name {
    }
    .desc {
      background-color: white;
      a {
        color: $dark-orange;
      }
    }
    .list-group {
      padding: 10px 0;
    }

    .fa {
      color: #1fa67a;
    }

  }

  .avail {
    padding: 10px 0;
    .avail-info {
      font-size: 15px;
      background-color: $light-orange;
      padding: 5px 10px;
      margin: 5px 0;
      text-align: left;
      display: block;
      min-width: 300px;
    }
  }

  .tec {
    div {
      padding: 0 15px;
    }
  }

}
