@import '../../styles/variables';

.navbar {
  margin-bottom: 0;

  .container {

    .navbar-brand {
      color: white;
      padding: 0 15px;
      margin-left: 0;

      &:hover, &:focus {
        color: $orange;
      }

      .logo {
        max-height: 70px;
      }

      @media screen and (max-width: 1023px) {
        .logo {
          max-height: 50px;        }
      }
    }
  }
}

.navbar-default {
  background-color: $blue;
  color: white;
  //padding: 0;

  .navbar-collapse {
    border: inherit;
    box-shadow: inherit;
  }

  button.navbar-toggle.collapsed {
    background-color: white;

    .icon-bar {
      background-color: $orange;
    }
  }

  .navbar-toggle.collapsed {
    background-color: #ddd;

    .icon-bar {
      background-color: $blue;
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: white;
        font-weight: normal;

        &:hover {
          color: $orange;
        }
      }
    }

    > .active {

      > a {
        background-color: inherit;
        color: $orange;
        font-weight: normal;

        &:hover {
          background-color: inherit;
          color: $orange;
        }
      }

    }
  }

  .navbar-right {
    padding: 10px 0;
  }

}
