<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <img class="logo img-responsive" src="assets/logo_transparent.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Über uns</a></li>
        <li class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/entwickler']">Entwicklerverzeichnis</a></li>
        <li class="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a target="_blank" href="https://gitter.im/TypeScriptUsersDE/typescriptusers.de">Chat</a></li>
        <!--<li class="" routerLinkActive="active"><a [routerLink]="['/schulungen']">Schulungen</a></li>-->
        <!--todo: queryParams will not be persisted to different routes in next(?) angular2 release-->
        <!--see: https://github.com/angular/angular/commit/23ee29b6a2ae396f6ec13f71c9552e3e0a983c3c-->
        <li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['/entwickler/profil']" [queryParams]="{}">Profil bearbeiten</a></li>
        <li routerLinkActive="active"><a *ngIf="isLoggedIn()" (click)="logout()">Abmelden</a></li>
        <li routerLinkActive="active"><a *ngIf="!isLoggedIn()" (click)="login()">Mit GitHub anmelden</a></li>
      </ul>
    </div>
  </div>
</nav>
