@import './../../../styles/variables';

section#single {

  .overview {
    .back {
      > p {
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .list-group {
      margin-top: 15px;
      .user-img {
        height: 200px;
        margin-bottom: 10px;
      }

      > li {

        a {
        }
      }
    }

    .name {
      font-weight: bold;
    }

    .city {
    }
  }

  .info {

    .name {
    }
    .desc {
      background-color: white;
      a {
        color: $dark-orange;
      }
    }
    .list-group {
      padding: 10px 0;
    }

  }

  .avail {
    padding: 10px 0;
    .avail-info {
      font-size: 15px;
      background-color: $light-orange;
      padding: 5px 15px;
      margin: 5px 0;
      text-align: left;
      display: block;
      min-width: 300px;
    }
  }

  .tec {
    div {
      padding: 0 15px;
    }
  }

}
