@import 'bootstrap';
@import 'font-awesome';
@import 'variables';

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Regular/OpenSans-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Bold/OpenSans-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/Light/OpenSans-Light.woff2');
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: $bg-grey;
}

// because <a (click)="whatever()"></a> does not show pointer
a {
  cursor: pointer;
  font-size: 16px;
  color: $dark-orange;
}

p, span, li, .form-control {
  font-size: 16px;
  font-weight: lighter;
}

.strong {
  font-weight: bold;
}

.page-wrapper {
  //margin: 60px 0;
}

.desc-text {
  white-space: pre-wrap;
}

.head {
  margin-bottom: 30px;
}

.btn {
  border-radius: 0;
  color: white;
  //background-color: $orange;
  background-color: #ff6600;
}

.button-muted {
  background-color: $light-grey;
  color: black;
}

.ng-invalid {
  border-color: red;
}

.sebm-google-map-container {
  height: 900px;
}

.spacer {
  padding: 50px 0;
}

.gray-bg-spacer {
  padding: 50px 0;
  background-color: $lighter-grey;
}

.gray-bg {
  background-color: $lighter-grey;
}

.white-bg-spacer {
  padding: 50px 0;
  background-color: #fff;
}

.white-bg {
  background-color: #fff;
}

.blue-bg-spacer {
  padding: 50px 0;
  background-color: #23527c;
  color: white;

  h1 {
    //font-weight: bold;
    color: $orange;

  }
}

.blue-bg {
  background-color: #23527c;
  color: white;
}

.orange-bg-spacer {
  padding: 50px 0;
  background-color: orange;
}

.orange-bg {
  background-color: orange;
}

.border-style {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.subfooter {
  padding: 30px 0;
  background-color: $lighter-grey;
}

.no-list {
  list-style-type: none;
  padding-left: 0;
}

.footer {
  color: white;
  background-color: $blue;
  padding: 30px 0;

  a {
    color: white;

    &:hover, &:focus {
      color: $orange;

    }
  }
}

.float-right {
  float: right;
}