//$blue: #23527c;
$blue: #003366;
$light-blue: #007ACC;
$yellow: #f29100;
//$yellow: #FFA700;
$grey: #ddd;
$grey-10: rgba(0, 0, 0, .1);
$light-grey: #e1e1e1;
$lighter-grey: #f1f1f1;
$dark-grey: #ababab;
$black: #252734;