<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteUser"
     aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Profil löschen</h4>
      </div>
      <div class="modal-body">
        <p>Soll das Profil wirklich gelöscht werden?</p>
        <p>Dieser Vorgang lässt sich nicht rückgängig machen.</p>

        <div class="row">
          <div class="col-md-6">
            <a class="btn btn-link" (click)="deleteUser()">Profil löschen</a>
          </div>
          <div class="col-md-6">
            <a class="btn btn-default float-right" (click)="hide()">Zurück</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
